* {
  box-sizing: border-box; 
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}
#main {
  display: flex;
  flex: 1;
}
#main > .article {
  flex: 1;
}
#main > .nav, 
#main > .aside {
  flex: 0 0 20vw;
  background: lightgray;
}
#main > nav {
  order: -1;
}
.header, .footer {
  background: #5f2be2;
  height: 10vh;
}
.header, .footer, .article, .nav, .aside {
  padding: 1em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}