* {
  box-sizing: border-box; 
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}
#main {
  display: flex;
  flex: 1;
}
#main > .center {
  flex: 1;
}
#main > .nav, 
#main > .aside {
  flex: 0 0 15vw;
  background: lightgray;
}

/* #main > nav {
  order: -1;
} */

.header {
  display: flex;
  align-items: center;
  background: #126195;
  height: 10vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 1em;
}
.footer {
  background: #126195;
  height: 10vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 1em;
}

.center, .nav, .aside {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 1em;
}
.title {
  font-size: 110px;
  font-weight: 800;
  color: white;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}